/* Deault project css file */
.input-group {
	min-width:100%;
}

textarea {
	resize: vertical;
}

.agoField {
	font-size: 12px;
	color: gray;
}

body > .container {
	margin-top: 100px;
	margin-bottom: 60px;
}

.alertArea {
	display: inline-block;
}

.alert {
	padding: 5px 20px !important;
	margin: auto;
	text-align: center;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
	list-style-type: decimal !important;
}
